<div class="container bootstrap snippets bootdey">
    <div class="row ng-scope">
        <div class="col-md-4 card">
            <div class="panel panel-default p-3 card-header">
                <div class="panel-body text-center">
                    <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96"
                            src="https://w7.pngwing.com/pngs/125/705/png-transparent-logo-blockchain-cryptocurrency-business-organization-design-angle-company-service.png"
                            alt="Contact"></div>
                    <h3 class="m0 text-bold">Company Logo</h3>
                    <div class="mv-lg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium sequi atque quis
                            repellat beatae.</p>
                    </div>
                    <div class="text-center"><a class="btn btn-primary" href="">Send message</a></div>
                </div>
            </div>
            <div class="panel panel-default hidden-xs hidden-sm p-2 card-body">
                <div class="panel-heading">
                    <div class="panel-title text-center">Recent Companys</div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48"
                                    src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Contact"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Floyd Ortiz
                                <div class="text-sm text-muted">12m ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48"
                                    src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Contact"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Luis Vasquez
                                <div class="text-sm text-muted">2h ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48"
                                    src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Contact"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Duane Mckinney
                                <div class="text-sm text-muted">yesterday</div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48"
                                    src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Contact"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Connie Lambert
                                <div class="text-sm text-muted">2 weeks ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 card">
            <div class="panel panel-default p-3">
                <div class="panel-body">
                    <div class="pull-right">
                        <div class="btn-group dropdown" uib-dropdown="dropdown">
                            <button class="btn btn-link dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true"
                                aria-expanded="false"><em class="fa fa-ellipsis-v fa-lg text-muted"></em></button>
                            <ul class="dropdown-menu dropdown-menu-right animated fadeInLeft" role="menu">
                                <li><a href=""><span>Send by message</span></a></li>
                                <li><a href=""><span>Share contact</span></a></li>
                                <li><a href=""><span>Block contact</span></a></li>
                                <li><a href=""><span class="text-warning">Delete contact</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="h4 mt-3">Company Details</div>
                    <hr>
                    <div class="row pv-lg">
                        <div class="col-lg-12">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="inputContact1">Company Logo</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputContact1" type="file" placeholder=""
                                            value="Audrey Hunt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact1">Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact1" type="text" placeholder=""
                                            value="Audrey Hunt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact2">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact2" type="email"
                                            value="mail@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact3">Phone</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact3" type="text"
                                            value="(123) 465 789">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact4">Fax</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact4" type="text"
                                            value="(12) 123 987 465">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact5">Website</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact5" type="text"
                                            value="http://some.wesbite.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact6">Address</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputContact6"
                                            row="4">Some nice Street, 1234</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact7">Social</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact7" type="text" value="@Social">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 p-2">
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                          <label class="control-label help-block form-text">Select Id</label>
                                          <div class="ui-select">
                                              <select class="form-select" aria-label="Default select example">
                                                  <option value="Home">Select Id</option>
                                                  <option value="Billing">VAT ID</option>
                                                  <option value="Main">Other</option>
                                              </select>
                                          </div>
                                      </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-5 p-2">
                                      <label class="col-md-12  col-sm-12 col-xs-12 control-label help-block form-text">Username</label>
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" value="SpeedyBecky">
                                        <p class="help-block form-text">Your Social Media username</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-2">
                                      <label class="col-md-12 col-sm-12 col-xs-12 control-label mt-2">&nbsp;</label>
                                      <button type="button" class="btn btn-primary">Add</button>
                                    </div>
                                  </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Favorite contact?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-info" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-right"><a class="text-light btn btn-danger" href="#">Delete this
                                    Company?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>