p {
    font-family: Lato;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 100%;
}

label {font-size: 14px;}
select {font-size: 14px; color: #73818f; height: 35px;}
h6 {font-size: 14px;}
h3 {font-size: 14px;}
input {height: 35px; }
.add-height input { height: 14px;}
.space-1 input {margin-right: 30px;}
.padd-left  { padding-left: 0px;}