<div style="height:572px" class="d-flex align-items-center justify-content-center w-100 app-body p-5">
      <div class="p-5 w-25 bg-light">
        <p class="text-center">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button routerLink="/login" class="btn btn-primary w-100 mt-2 mb-2" type="submit">RESET MY PASSWORD</button>
        <div class="text-center mt-3">
          <a routerLink="/register">Sign-Up</a>
        </div>
      </div>
</div>

  <app-footer class="p-3">
    <span><a routerLink="/">CRM</a> &copy; 2021 creativeLabs.</span>
    <span class="ml-auto">Powered by <a href=""></a>CRM</span>
  </app-footer>

