<div class="container-lg card">
    <div class="row">
        <div class="card-header">
            <h3>Facebook Pixel Integrations</h3>
        </div>
        <div class="col-md-10 mx-auto">
            <div class="contact-form card-body">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Facebook Pixel ID</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp1" placeholder="123456789">
                            <small id="emailHelp1" class="form-text text-muted">Enter Facebook Pixel ID</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Exclude Users</label>
                            <input type="text" class="form-control" id="exampleInputEmail2"
                                aria-describedby="emailHelp2" placeholder="">
                            <small id="emailHelp2" class="form-text text-muted">Logged in users selected above will not trigger your pixel</small>
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>