

<div class="container mt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/emailTemplate" class="nav-link active" aria-current="page" >Email Template</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>

  <div class="container p-5 bg-light">
    <div class="container d-flex align-items-center justify-content-between">
    <h3 class="pb-4">Edit Templates</h3>
    <button routerLink="/template" class="btn btn-sm btn-primary">Create New Template +</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email Type</th>
            <th scope="col">Machine Name</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Template 1</td>
            <td>Account Activation</td>
            <td><button routerLink="/template" class="btn btn-success btn-sm">Edit Template</button>
                <button class="btn btn-danger btn-sm">Delete Template</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Template 2</td>
            <td>Account Canceled</td>
            <td><button routerLink="/template" class="btn btn-success btn-sm">Edit Template</button>
                <button class="btn btn-danger btn-sm">Delete Template</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Template 3</td>
            <td>Account Blocked</td>
            <td><button routerLink="/template" class="btn btn-success btn-sm">Edit Template</button>
                <button class="btn btn-danger btn-sm">Delete Template</button>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Template 4</td>
            <td>Account Canceled</td>
            <td><button routerLink="/template" class="btn btn-success btn-sm">Edit Template</button>
                <button class="btn btn-danger btn-sm">Delete Template</button>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Template 5</td>
            <td>Account Blocked</td>
            <td><button routerLink="/template" class="btn btn-success btn-sm">Edit Template</button>
                <button class="btn btn-danger btn-sm">Delete Template</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
