<div class="container">
    <div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <h3><b> Import Contacts </b></h3>
                                    <div class="cart-body">
                                        <div class="row">
                                            <form class="d-flex">
                                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                                <button class="btn btn-outline-success" type="submit">Search</button>
                                              </form>
                                            <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6 mt-5">
                                                <div class="order-note">
                                                    
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="mb-3">
                                                                <label for="formFileSm" class="form-label">Import
                                                                    contact from device</label>
                                                                <input class="form-control form-control-sm"
                                                                    id="formFileSm" type="file">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                           
                                                            <label for="formFileSm" class="form-label">Import and
                                                                Syncing</label>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="customCheck2">
                                                                <label class="custom-control-label"
                                                                    for="customCheck2">Linked In</label>
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="" id="" placeholder="Linked In API">
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="customCheck3">
                                                                <label class="custom-control-label"
                                                                    for="customCheck3">Outlook</label>
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="" id="" placeholder="Outlook API">
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="customCheck4">
                                                                <label class="custom-control-label"
                                                                    for="customCheck4">Facebook</label>
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="" id="" placeholder="Facebook API">
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="customCheck5">
                                                                <label class="custom-control-label"
                                                                    for="customCheck5">Salestracker</label>
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="" id="" placeholder="Salestracker API">
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <div class="form-check">
                                                                <button class="btn btn-secondary mt-3" type="submit"
                                                                    id="button-addonTags">Cancle</button>
                                                            </div>
                                                            <div class="form-check">
                                                                <button class="btn btn-primary mt-3" type="submit"
                                                                    id="button-addonTags">Import</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6 mt-5">
                                                <div class="order-total table-responsive ">
                                                    <div class="card-header">
                                                        <h4>Account Configrations</h4>
                                                        <p>You can get your API Key in your Account, In Extras tab
                                                            select API keys or Click <a href="">here</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
</div>