<p>tags works!</p>
<div class="container-fluid p-5">
    <input type="button" class="btn btn-primary m-3" routerLink="/setting/add-term" value="Add Term" name="" id="">
    <table class="table table-striped">
        <thead>
          <tr class="row">
            <th class="col-lg-9" scope="col">Name</th>
            <th class="col-lg-3" scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>
                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>

                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>
                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>
                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>
                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">List Term</option>
                            <option value="Main">Add Term</option>
                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>
                        </select>
                    </div>
                </td>
              </tr>
            <tr class="row">
                <td class="col-lg-9">Mark</td>
                <td class="col-lg-3">
                    <div class="ui-select">
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="Work">Edit Term</option>
                            <option value="Main">Delete Term</option>
                        </select>
                    </div>
                </td>
              </tr>
        </tbody>
      </table>
</div>